
h1{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    font-size: 40px;
    margin: auto;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    margin: auto;
    font-size: 15px;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    margin: auto;
    font-size: 15px; 
    height: 20px;
    padding: 5px;
    position: sticky;
    position: -webkit- sticky;
    top: 0;
}

a:visited{
    color: black;
}

body{
    background-color:lightblue  ;
}

div hr {
    border: 20px solid black;
}

table td {
    text-align: center;
}